$h1-background: linear-gradient(180deg, rgba(27, 37, 56, 0.973) 0%, rgb(28 41 65) 35%, rgb(30 47 76) 100%);
$blue-gradient: linear-gradient(
	171deg,
	rgba(21, 34, 55, 0.7) 0%,
	rgba(24, 75, 157, 0.7) 42%,
	rgba(84, 181, 255, 0.3) 100%
);
$white: #fff;
$sector-bg: #25255e4d;
$line: #96841e50;
$rows-fonts: #ddc11f;
$light-white: #dad8d8;
$delete-background: #ffffff4f;
$blue-color-hover: #184b9d42;
$linkBg: #ffffff33;
$links: #bbbbbb;
$footerBg: #24262b3a;
$fas: #24262b;
$footerLine: #23a78af5;